[{brod, [{clients, 
         [{kafka_client_1,
           [{endpoints, [{"kafka-host", 9092}]},
            {reconnect_cool_down_seconds, 10},
            {auto_start_producers, true},
            {default_producer_config, []}
           ]}]}]}
,
 {cgate, [
          {channels, [
                      {channel_login, 
                       #{from => {rmq, subscribe,
                                  [#{connection => "amqp://user:password@1rmq-host/message_vhost",
                                     exchange => <<"payload.exchange">>,
                                     routing_key => <<"*">>}]}
                        ,
                         from_decoder => {converter, msgpack_decoder}
                        ,
                         to_encoder => {converter, json_encoder}
                        ,
                         to => {kafka, publish,
                                [#{kafka_client => kafka_client_1,
                                   topics => [#{key => <<"*">>,
                                                partition => 0,
                                                topic => <<"from_rmq_topic">>}]}]}
                        }
                      }
                     ]}]}].
